
body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the App component takes up at least the full height of the viewport */
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
}

.header {
  text-align: center;
}

.input-fields {
  margin-bottom: 20px;
}

.input-fields label {
  display: block;
  margin-bottom: 5px;
}

.input-fields input[type="number"],
.input-fields input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-fields button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.execution-time,
.output-area,
.output {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
  min-height: 200px;
}

.tabs {
  margin-bottom: 20px;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tabs li {
  margin-right: 10px;
}

.tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tabs .active button {
  font-weight: bold;
}

/* NavBar.css */

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 20px;
}

.link-style {
  text-decoration: none;
  color: #fff;
}

.link-style:hover,
.link-style.active {
  color: #ff9800;
}

.link-style span {
  color: #ff9800;
}


/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-copyright a,
.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:first-child {
  margin-left: 0;
}

/* CalculatorPage.css */
.calculator-page {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.top-section {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.left-section,
.right-section,
.bottom-section {
  flex: 1;
}

.bottom-section {
  padding-top: 10px;
}

.text-section {
  padding: 10px;
  background-color: #f2f2f2;
}

/* CodeEditor.css */
.code-editor-area {
  position: relative;
}

.code-editor {
  width: 100%;
  max-width: 1000px;
  min-height: 300px;
  margin-bottom: 20px;
}

.code-editor textarea {
  font-size: 16px;
}

/* learningPage.css */
.learning-page {
  display: flex;
  padding: 20px;
}

.left-panel {
  flex: 1;
}

.right-panel {
  flex: 2;
  margin-left: 20px;
}

.algorithm-topics-list {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.algorithm-topics-list a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.algorithm-topics-list a:hover {
  text-decoration: underline;
}

.tab-switcher {
  display: flex;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  padding: 5px 10px;
  color: #333;
}

.tab-button.active {
  font-weight: bold;
  background-color: #f0f0f0;
}

.tab-button:not(:last-child) {
  margin-right: 10px;
}

.switchers {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.switcher-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding: 5px 10px;
  color: #333;
}

.switcher-button.active {
  font-weight: bold;
}

.subtopics-heading {
  display: inline-block;
  margin-right: 20px;
}

.user-icon {
  font-size: 24px;
  margin-left: 10px;
}

.user-icon i {
  color: #fff;
}

.analyse-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #0a0a0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.analyse-button:hover {
  background-color: #0056b3;
}

/* Sign Up and Login Page Styles */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.form h3 {
  margin-bottom: 20px;
  text-align: center;
}

.form div {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
}
