# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media/
/static/

# React #
/node_modules
/build
.DS_Store

# IDE/Editor specific #
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
