# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media/
/static/

# React #
/node_modules
/build
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webpack & Babel #
/dist
/node_modules
/.cache
.DS_Store
*.env
