# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media/
/static/

# React #
/build
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webpack & Babel #
/dist
.node
node_modules/
.cache/
.DS_Store
*.env

# Excluding the files that are generated for time complexity analysis
*Prototype*
*output*